<script type="text/javascript" src="/newComment.js"></script>
<p style="hidden" id="hidden">{{topic.id}}</p>
<div class="comment-entry">
	<p>Enter Your comment regarding {{topic.title}}</p>
	<input type="text" id="comment" name="comment">
	<input type="submit" value="submit" id="submit">
</div>