<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Topic Changer</title>

  </head>

  <body>
    {> header }
    <header>
      <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
      <h1 class="site-title"> Topic Changer </h1>
      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink"><a href="#"> Home </a></li>
          <li class="navitem navlink"><a href="#"> Category </a></li>
          <li class="navitem navlink"><a href="#"> New Topic </a></li>
          <li class="navitem navlink"><a href="#"> Topic </a> </li>
        </ul>
      </nav>
    </header>
    
    {{{content}}}

  </body>

  <footer>

    <a href="https://www.google.com">Here’s a link to Google</a>

  </footer>

    <script src="index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js"></script>


</html>
