<main class = "topic-container">
	{{#each category}}
		<article class="topic">
		  <div class="topic-content">
			<p class="topic-question">
			  {{>TopicQuestion}}
			</p>
		  </div>
		</article>
	{{/each}}
</main>