<main class="topic-container">
  <section id="content"></section>

	<form action="/data.json">
	  <fieldset>
		<legend> Topic Question: </legend>
		title: <br>
		<input type="text" name="title"><br>
		description: <br>
		<input type="text" name="description"><br>
		category: <br>
		<input type="text" name="category"><br>
		postDate: <br>
		<input type="text" name="postDate"><br>
		id: <br>
		<input type="text" name="id"><br>
	  </fieldset>
	  <fieldset>
		<legend> Topic Comment </legend>
		comment: <br>
		<input type="text" name="comment"><br>
		postDate: <br>
		<input type="text" name="postDate"><br>
	  </fieldset>
	  <input type="submit" value="Submit">
	</form>
</main>
