<script type="text/javascript" src="/newTopic.js"></script>
<main class = "topic-container">
		<legend> Topic Question: </legend>
		title: <br>
		<input type="text" name="title" id="title"><br>
		description: <br>
		<input type="text" name="description" id="description"><br>
		category: <br>
		<input type="text" name="category" id="category"><br>
	  <input type="submit" value="submit" id="submit">
</main>