<main class = "topic-container">
	<article class="topic">
	  <div class="topic-content">
		{{>topicQuestion topic}}
		{{>newComment}}
		{{#each comments}}
		<div class="topic-comments">
			{{>topicComment}}
		</div>
		{{/each}}
	  </div>
	</article>
</main>
