<main class = "topic-container">
	<article>
	  <div class="topic">
		{{>topicQuestion topic}}
		</div>
		{{#each comments}}
		<div class="topic">
			{{>topicComment}}
		</div>
		{{/each}}
	</article>
</main>
