body{
  background-color: cornflowerblue;
  margin: 0px;
}

header{
   background-color: dimgray;
   color: #fff;
   margin: 0px;
}

a{
  color: #454545;
  font-weight: normal;
  text-decoration: none;
}

.site-title{
   color: #fff;
   padding: 10px
}

h1{
  margin: 0px;
  font-weight: 400;
}

.site-title{
  padding: 10px;
  padding-left: 50px;
}

.index-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.index-box {
//  max-width: 300px;
  flex: 1 51%;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: left;
  margin: 5px;
  font-size: 20px;
  display: flex;
  border-radius: 10px;
}

.navbar {
   font-size: 22px;
   background-color: azure;
}

.navlist {
   margin: 0;
   padding-left: 40px;
}

.wrapper{
  min-height: calc(100vh - 70px);
}

footer{
  border-top: 1px solid gray;
  background-color: lightgray;
  padding: 10px;
  height: 70px;
}
